[Desktop Entry]
Type=Application
Version=1.0
Name=Thinkorswim
GenericName=Trading Platform
Comment=Advanced trading platform by TD Ameritrade
Exec={{ data_dir }}/container.sh /home/thinkorswim/thinkorswim/thinkorswim
Terminal=false
Icon=thinkorswim